In [13]:
import pandas as pd

In [14]:
# read_dir = '/work/frink/ramprasad.sa/factuality_metrics/datasets'
# filename = 'aggrefact_llm.csv'
# df = pd.read_csv(f'{read_dir}/{filename}')
# df.head()

In [15]:
df_genaudit = pd.read_csv('/Users/srampras/hallucinations_annotations/scripts/data/genaudit_annotations.csv')
df_genaudit.head()[:2]

,Unnamed: 0.1,Unnamed: 0,id,benchmark_dataset_name,origin,source_format,summary_origin,error_spans,error_category,error_origin,faithful,model,source,summary,corrected_summary
0,0,0,Rachel Usher#REDDIT-83:flanul2-ul2,genaudit,REDDIT,document,model,nobody,NaN,model,0,flanul2,both me and my girlfriend participate in winte...,I waited outside the locker rooms for my girlf...,I waited outside the locker rooms for my girlf...
1,1,1,Rachel Usher#REDDIT-83:llama70b-ul2,genaudit,REDDIT,document,model,NaN,NaN,model,1,llama70b,both me and my girlfriend participate in winte...,A high school student was waiting for his girl...,A high school student was waiting for his girl...

In [16]:
len(df_genaudit)
# shortlisted_ids = ['40110402', '39664212', 'REDDIT-9', 'REDDIT-80', 'ACIBENCH-D2N126', 'ACIBENCH-D2N124', 'ACIBENCH-D2N123', 'ACIBENCH-D2N094', 'ACIBENCH-D2N088', 'ACIBENCH-D2N090']
shortlisted_ids = ['39664212', ]
df_genaudit_sample = []
for sid in shortlisted_ids:
    sids = [each for each in df_genaudit['id'] if sid in each]
    df_genaudit_sample += [df_genaudit[df_genaudit['id'].isin(sids)]]

df_genaudit_sample = pd.concat(df_genaudit_sample)
df_genaudit_sample

,Unnamed: 0.1,Unnamed: 0,id,benchmark_dataset_name,origin,source_format,summary_origin,error_spans,error_category,error_origin,faithful,model,source,summary,corrected_summary
385,385,385,Cynthia Lamanda#XSUM-39664212:flanul2-ul2,genaudit,XSUM,document,model,NaN,NaN,model,1,flanul2,Police in Germany have charged a man suspected...,A 28-year-old suspect suspected of setting off...,A 28-year-old suspect suspected of setting off...
386,386,386,Cynthia Lamanda#XSUM-39664212:llama70b-ul2,genaudit,XSUM,document,model,NaN,NaN,model,1,llama70b,Police in Germany have charged a man suspected...,A man named Sergej W has been charged with att...,A man named Sergej W has been charged with att...
387,387,387,Cynthia Lamanda#XSUM-39664212:falcon7b-ul2,genaudit,XSUM,document,model,plotting a terrorist attack<sep>after finding ...,NaN,model,0,falcon7b,Police in Germany have charged a man suspected...,A Russian man has been arrested for plotting a...,A Russian man has been arrested for attempted ...
388,388,388,Cynthia Lamanda#XSUM-39664212:llama7b-ul2,genaudit,XSUM,document,model,NaN,NaN,model,1,llama7b,Police in Germany have charged a man suspected...,A man suspected of carrying out the bomb attac...,A man suspected of carrying out the bomb attac...
389,389,389,Cynthia Lamanda#XSUM-39664212:mistral7b-ul2,genaudit,XSUM,document,model,NaN,NaN,model,1,mistral7b,Police in Germany have charged a man suspected...,A man identified as Sergej W has been charged ...,A man identified as Sergej W has been charged ...
390,390,390,Cynthia Lamanda#XSUM-39664212:chatgpt-ul2,genaudit,XSUM,document,model,NaN,NaN,model,1,chatgpt,Police in Germany have charged a man suspected...,German police have arrested and charged a man ...,German police have arrested and charged a man ...
391,391,391,Cynthia Lamanda#XSUM-39664212:geminipro-ul2,genaudit,XSUM,document,model,NaN,NaN,model,1,geminipro,Police in Germany have charged a man suspected...,Police in Germany have charged an individual i...,Police in Germany have charged an individual i...
392,392,392,Cynthia Lamanda#XSUM-39664212:gpt4-ul2,genaudit,XSUM,document,model,Prosecutors,NaN,model,0,gpt4,Police in Germany have charged a man suspected...,A man has been charged by police in Germany ov...,A man has been charged by police in Germany ov...

In [17]:
df_genaudit[df_genaudit['id'] == 'Rachel Usher#XSUM-40110402:flanul2-ul2']

,Unnamed: 0.1,Unnamed: 0,id,benchmark_dataset_name,origin,source_format,summary_origin,error_spans,error_category,error_origin,faithful,model,source,summary,corrected_summary
480,480,480,Rachel Usher#XSUM-40110402:flanul2-ul2,genaudit,XSUM,document,model,in the UK<sep>by 222,NaN,model,0,flanul2,Companies must prepare for new tougher EU rule...,Data breach fines in the UK rose by 222% in 20...,"Data breach fines rose in 2016, as the authori..."

In [18]:
import psycopg2

In [19]:
conn = psycopg2.connect(
   database="dgks84evs3khk", 
    user='u38ot3voqlb8of', 
    password='p9ee14081ae1d13ffb707b10ddc331c8191f057d2be74b53921911da9e426ca4c', 
    host='cd3vj4tb0qabuf.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com', 
    port = '5432'
    
)

In [20]:
cursor = conn.cursor()

sql_drop = '''DROP TABLE IF EXISTS model_summaries;'''

sql = '''CREATE TABLE model_summaries (
    uuid uuid DEFAULT gen_random_uuid() PRIMARY KEY, 
    docid TEXT NOT NULL ,
    source TEXT,
    summary TEXT NOT NULL,
    model TEXT NOT NULL, 
    benchmark_dataset_name TEXT,
    origin TEXT
);'''

#Creating a database
cursor.execute(sql_drop)
cursor.execute(sql)
print("Table created successfully........")
conn.commit()

Table created successfully........

In [21]:
cursor = conn.cursor()
sql_drop = '''DROP TABLE IF EXISTS label;'''
# d SERIAL PRIMARY KEY,
#     source_id INT NOT NULL,
#     start_pos INT NOT NULL,
#     end_pos INT NOT NULL,
#     text TEXT NOT NULL,
#     category VARCHAR(50) NOT NULL,
#     created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP


create_table_label_str = '''CREATE TABLE label (
    uuid uuid DEFAULT gen_random_uuid() PRIMARY KEY, 
    user_id TEXT NOT NULL,
    docid TEXT NOT NULL,
    source TEXT NOT NULL,
    summary TEXT NOT NULL,
    model TEXT NOT NULL,
    benchmark_dataset_name TEXT,
    origin TEXT,
    nonfactual_span TEXT,
    error_type TEXT,
    mistake_severity TEXT,
    inference_likelihood TEXT,
    inference_knowledge TEXT,
    attempt_number INT,
);'''

cursor.execute(sql_drop)
cursor.execute(create_table_label_str)
print("Table created successfully........")
conn.commit()

Table created successfully........

In [22]:
import re 
cursor.execute("""SELECT * from model_summaries""")
print('Size before adding' , len(cursor.fetchall()))

# df_genaudit = df_genaudit[df_genaudit['faithful'] == 1]
df_genaudit = df_genaudit[~df_genaudit['summary'].isnull()]
df_genaudit = df_genaudit[~df_genaudit['source'].isnull()]
for idx, row in df_genaudit.iterrows():
    # print(row)
    docid = row['id']
    source = row['source']
    summary = row['summary']
    model = row['model']
    origin = row['origin']
    benchmark_dataset_name = row['benchmark_dataset_name']
    if 'summary' in df_genaudit.keys(): 
        # and row['DocID'] in filter_ids:
        summary = row['summary']
        summary_uuid_generic = f'{docid}_{benchmark_dataset_name}_{origin}_{model}'
        summary = re.sub( "'", r"''", summary)
        source = re.sub( "'", r"''", source)
        value_str = f"""'{docid}', '{source}', '{summary}', '{model}', '{benchmark_dataset_name}', '{origin}'"""
        # print(re.findall(r"\'(\w+)\'", dialogue))
        cursor.execute(f"""INSERT INTO model_summaries(docid, source, summary, model, benchmark_dataset_name, origin) VALUES ({value_str})""",
                                                        )

Size before adding 0

In [23]:
cursor.execute("""SELECT * from model_summaries""")

print('Size after adding' , len(cursor.fetchall()))
conn.commit()

Size after adding 700

In [25]:
cursor.execute("""SELECT * from label""")
cursor.fetchall()

[('245631ca-1f8f-41ef-895c-0e82d53d1c9b',
  'sanjana',
  'Rachel Usher#REDDIT-83:flanul2-ul2',
  "both me and my girlfriend participate in winter sports at our highschool, i swim and she fences. today was a late meet for me (8pm meet) and it is a rule we must dress up for a meet. my girlfriend has a normal practice today, normally school gets out at 3:02 and her practice is at 3:15. she has to get changed so i wait outside the locker rooms for her so i could give her a kiss goodbye. what i don't realize is that my bus leaves while i'm standing outside the locker rooms. being a slow dresser she is in there till the last minute. after she comes out i give her a kiss goodbye and walk outside. there was nothing, nobody, but the steady snow fall. naturally i freak out and start making calls, my friend says he got dropped off already so i call my house... no answer.. my parents and older sister are working so no answer from them.. now i'm paying the price with a 6 mile walk hold in freezing temperatures in my thin dress shirt and no gloves or hat. wish me luck! !",
  'I waited outside the locker rooms for my girlfriend while she changed, then walked out to find nobody.',
  'flanul2',
  'genaudit',
  'REDDIT',
  'outside',
  'highlight-category1',
  '1',
  None,
  None),
 ('92633324-f797-463a-8577-e14aea5d6553',
  'sanjana',
  'Rachel Usher#REDDIT-83:flanul2-ul2',
  "both me and my girlfriend participate in winter sports at our highschool, i swim and she fences. today was a late meet for me (8pm meet) and it is a rule we must dress up for a meet. my girlfriend has a normal practice today, normally school gets out at 3:02 and her practice is at 3:15. she has to get changed so i wait outside the locker rooms for her so i could give her a kiss goodbye. what i don't realize is that my bus leaves while i'm standing outside the locker rooms. being a slow dresser she is in there till the last minute. after she comes out i give her a kiss goodbye and walk outside. there was nothing, nobody, but the steady snow fall. naturally i freak out and start making calls, my friend says he got dropped off already so i call my house... no answer.. my parents and older sister are working so no answer from them.. now i'm paying the price with a 6 mile walk hold in freezing temperatures in my thin dress shirt and no gloves or hat. wish me luck! !",
  'I waited outside the locker rooms for my girlfriend while she changed, then walked out to find nobody.',
  'flanul2',
  'genaudit',
  'REDDIT',
  'she changed',
  'highlight-category2',
  None,
  '1',
  '1')]

In [7]:
cursor = conn.cursor()
cursor.execute("""SELECT * from label""")
cursor.fetchall()

[]