In [1]:
import pandas as pd

In [3]:
# read_dir = '/work/frink/ramprasad.sa/factuality_metrics/datasets'
# filename = 'aggrefact_llm.csv'
# df = pd.read_csv(f'{read_dir}/{filename}')
# df.head()

In [7]:
df_genaudit = pd.read_csv('/Users/srampras/hallucinations_annotations/scripts/data/genaudit_annotations.csv')
df_genaudit.head()[:2]

,Unnamed: 0.1,Unnamed: 0,id,benchmark_dataset_name,origin,source_format,summary_origin,error_spans,error_category,error_origin,faithful,model,source,summary,corrected_summary
0,0,0,Rachel Usher#REDDIT-83:flanul2-ul2,genaudit,REDDIT,document,model,nobody,NaN,model,0,flanul2,both me and my girlfriend participate in winte...,I waited outside the locker rooms for my girlf...,I waited outside the locker rooms for my girlf...
1,1,1,Rachel Usher#REDDIT-83:llama70b-ul2,genaudit,REDDIT,document,model,NaN,NaN,model,1,llama70b,both me and my girlfriend participate in winte...,A high school student was waiting for his girl...,A high school student was waiting for his girl...

In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(
   database="dgks84evs3khk", 
    user='u38ot3voqlb8of', 
    password='p9ee14081ae1d13ffb707b10ddc331c8191f057d2be74b53921911da9e426ca4c', 
    host='cd3vj4tb0qabuf.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com', 
    port = '5432'
    
)

In [3]:
cursor = conn.cursor()

sql_drop = '''DROP TABLE IF EXISTS model_summaries;'''

sql = '''CREATE TABLE model_summaries (
    uuid uuid DEFAULT gen_random_uuid() PRIMARY KEY, 
    docid TEXT NOT NULL ,
    model TEXT NOT NULL, 
    summary TEXT NOT NULL, 
    origin TEXT
);'''

#Creating a database
cursor.execute(sql_drop)
cursor.execute(sql)
print("Table created successfully........")
conn.commit()

Table created successfully........

In [3]:
cursor = conn.cursor()
sql_drop = '''DROP TABLE IF EXISTS label;'''

create_table_label_str = '''CREATE TABLE label (
    uuid uuid DEFAULT gen_random_uuid() PRIMARY KEY, 
    user_id TEXT NOT NULL,
    docid TEXT NOT NULL,
    model TEXT NOT NULL,
    nonfactual_spans TEXT,
    evidence TEXT ,
    error_type TEXT,
    summary TEXT NOT NULL,
    origin TEXT NOT NULL
);'''

cursor.execute(sql_drop)
cursor.execute(create_table_label_str)
print("Table created successfully........")
conn.commit()

SyntaxError: syntax error at or near ")"
LINE 11: );
         ^