In [2]:
import pandas as pd

In [3]:
read_dir = '/work/frink/ramprasad.sa/factuality_metrics/datasets'
filename = 'aggrefact_llm.csv'
df = pd.read_csv(f'{read_dir}/{filename}')
df.head()

,Unnamed: 0,id,benchmark_dataset_name,origin,source_format,summary_origin,error_spans,error_category,error_origin,faithful,model,source,summary,corrected_summary
0,0,Rachel Usher#REDDIT-83:flanul2-ul2,genaudit,REDDIT,document,model,nobody,NaN,model,0,flanul2,both me and my girlfriend participate in winte...,I waited outside the locker rooms for my girlf...,I waited outside the locker rooms for my girlf...
1,1,Rachel Usher#REDDIT-83:llama70b-ul2,genaudit,REDDIT,document,model,NaN,NaN,model,1,llama70b,both me and my girlfriend participate in winte...,A high school student was waiting for his girl...,A high school student was waiting for his girl...
2,2,Rachel Usher#REDDIT-83:falcon7b-ul2,genaudit,REDDIT,document,model,concerned about a potential delay in meeting<s...,NaN,model,0,falcon7b,both me and my girlfriend participate in winte...,The protagonist is concerned about a potential...,The protagonist is waiting for his girlfriend ...
3,3,Rachel Usher#REDDIT-83:llama7b-ul2,genaudit,REDDIT,document,model,is late<sep>bus and doesn't realize that their...,NaN,model,0,llama7b,both me and my girlfriend participate in winte...,The writer and their girlfriend are both invol...,The writer and their girlfriend are both invol...
4,4,Rachel Usher#REDDIT-83:mistral7b-ul2,genaudit,REDDIT,document,model,participates<sep>with their girlfriend<sep>ends,NaN,model,0,mistral7b,both me and my girlfriend participate in winte...,The document describes the experience of a hig...,The document describes the experience of a hig...

In [4]:
df_genaudit = df[df['benchmark_dataset_name'] == 'genaudit']
df_genaudit.to_csv('/work/frink/ramprasad.sa/hallucinations_annotations/scripts/data/genaudit_annotations.csv')

In [5]:
df_genaudit.head()[:1]

,Unnamed: 0,id,benchmark_dataset_name,origin,source_format,summary_origin,error_spans,error_category,error_origin,faithful,model,source,summary,corrected_summary
0,0,Rachel Usher#REDDIT-83:flanul2-ul2,genaudit,REDDIT,document,model,nobody,NaN,model,0,flanul2,both me and my girlfriend participate in winte...,I waited outside the locker rooms for my girlf...,I waited outside the locker rooms for my girlf...

In [6]:
import psycopg2

In [8]:
conn = psycopg2.connect(
   database="dadsfmjsr5e4ll", 
    user='u5d2doumaj4q1d', 
    password='p8be2c5ef535cb15e96fef26b80b963046003acfb66969a839a89b05573a1734d', 
    host='c11ai4tgvdcf54.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com', 
    port = '5432'
    
)

OperationalError: connection to server at "c11ai4tgvdcf54.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com" (52.202.40.138), port 5432 failed: Connection timed out
	Is the server running on that host and accepting TCP/IP connections?